SUPABASE_URL=https://lreccfijlojfdxphtpli.supabase.co
SUPABASE_SERVICE_KEYsb_publishable_OQ8faJ4zKIeXdI1fEQMM2g_etvsmyqc
SUPABASE_ANON_KEY=postgresql://postgres:[YOUR-PASSWORD]@db.lreccfijlojfdxphtpli.supabase.co:5432/postgres
ADMIN_KEY=supabase login
supabase init
supabase link --project-ref lreccfijlojfdxphtpli
PORT=3000
